.reference-section {
    padding: 30px;
    background: #38312C;
    color: #fff;
}

.reference-section-content {
    border: 5px solid #FFF;
    color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    height: 100%;
}

.reference-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 20px;
}

.reference-grid img {
    display: block;
    width: 100%;
}

@media (max-width: 700px) {
    .reference-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}