.goody-section {
    padding: 30px;
    background: #C61618;
}

.goody-section-content {
    border: 5px solid #fff;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.goody-section:nth-child(even) {
    background: #5E5651;
}

.description {
    min-width: 50%;
}

.description-title {
    font-size: 48px;
    font-weight: bold;
}

.goody-credit {
    font-size: 24px;
    font-style: italic;
}

p {
    font-size: 24px;
}

.download-link {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.preview {
    margin-left: 40px;
    min-width: calc(50% - 40px);
}

.preview img {
    display: block;
    object-fit: contain;
    width: 100%;
}