.goody-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

@media (max-width: 800px) {
    .goody-grid {
        display: flex;
        flex-direction: column;
    }

    .goody-section-content {
        flex-direction: column;
    }
}

.goody-section {
    padding: 30px;
    background: #C61618;
}

.goody-section-content {
    border: 5px solid #fff;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    gap: 40px;
    height: 100%;
}

.goody-section:nth-child(3n+1) {
    background: #5E5651;
}
.goody-section:nth-child(3n+2) {
    background: #38312C;
}

.description {
    min-width: 50%;
}

.description-title {
    font-size: 48px;
    font-weight: bold;
}

.goody-credit {
    font-size: 24px;
    font-style: italic;
}

p {
    font-size: 24px;
}

.download-link {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.preview {
    min-width: calc(50% - 40px);
}

.preview img {
    display: block;
    object-fit: contain;
    width: 100%;
}

a {
    color: #fff;
}