/*#6D5D50*/
/*#212020*/
/*#9C8F7F*/
/*#524C46*/
*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    width: 100%;
    background-color: #5E5651;
    background-image: url("../images/stripes.png");
    background-repeat: repeat-x;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header > img {
    height: 150px;
    margin-top: -20px;
}


section {
    width: 100%;
}

.about-section{
    padding: 30px;
    margin-top: 60px;
}

.about-section-content {
    border: 5px solid #212020;
    color: #212020;
    padding: 30px;
    border-radius: 5px;
    height: 100%;
}

h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    text-align: center;

}

h2 {
    font-size: 36px;
}

.goody-section {
    padding: 30px;
    background: #C61618;
}

.goody-section-content {
    border: 5px solid #fff;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.goody-section:nth-child(even) {
    background: #5E5651;
}

.description {
    min-width: 50%;
}

.description-title {
    font-size: 48px;
    font-weight: bold;
}

.goody-credit {
    font-size: 24px;
    font-style: italic;
}

p {
    font-size: 24px;
}

.download-link {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.preview {
    margin-left: 40px;
    min-width: calc(50% - 40px);
}

.preview img {
    display: block;
    object-fit: contain;
    width: 100%;
}